body
{
    background-color: black;
    color:white;
}

input
{
    width: 0;
    height: 0;
    opacity: 0;
}

label
{
    width:25px;
    height: 25px;
    border-radius: 25px;
    background-color: red;
    cursor: pointer;
}
label:hover
{
    background-color: green;
}
.main-window
{
    width: 100vw;
    overflow:hidden;
    display:flex;
}

.wrap-image
{
    width: 100vw;
    min-width: 100vw;
}

.in-img
{
    margin:auto;
}

.one-img .in-img
{
    max-width: 676px;
}
.two-img .in-img
{
    max-width: 600px;
}
.three-img .in-img
{
    max-width: 428px;
}
.four-img .in-img
{
    max-width: 601px;
}

.captions
{
    width: 100vw;
    display:flex;
    padding:2vh;  
}

.captions-window
{
    width: 50vw;
    overflow:hidden;
    display:flex; 
}

.wrap-text
{
    min-width: 50vw;
}

.input-labels
{
    width: 50vw;
    overflow:hidden;
    display:flex;
    justify-content: flex-end;
}

.one-radio:checked ~ .captions .input-labels .one-label
{
    border: 1px solid blue!important;
    background-color: blue;
}
.two-radio:checked ~ .captions .input-labels .two-label
{
    border: 1px solid blue!important;
    background-color: blue;
}
.three-radio:checked ~ .captions .input-labels .three-label
{
    border: 1px solid blue!important;
    background-color: blue;
}
.four-radio:checked ~ .captions .input-labels .four-label
{
    border: 1px solid blue!important;
    background-color: blue;
}

.one-radio:checked ~ .main-window .one-img
{
    margin-left:0;
    transition: margin-left 1s;
}
.two-radio:checked ~ .main-window .one-img
{
    margin-left:-100vw;
    transition: margin-left 1s;
}
.two-radio:checked ~ .main-window .two-img
{
    margin-left:0;
    transition: margin-left 1s;
}
.three-radio:checked ~ .main-window .one-img
{
    margin-left:-200vw;
    transition: margin-left 1s;
}
.three-radio:checked ~ .main-window .two-img
{
    margin-left:-100vw;
    transition: margin-left 1s;
}
.three-radio:checked ~ .main-window .three-img
{
    margin-left:100vw;
    transition: margin-left 1s;
}
.four-radio:checked ~ .main-window .one-img
{
    margin-left:-300vw;
    transition: margin-left 1s;
}
.four-radio:checked ~ .main-window .two-img
{
    margin-left:-200vw;
    transition: margin-left 1s;
}
.four-radio:checked ~ .main-window .three-img
{
    margin-left:-100vw;
    transition: margin-left 1s;
}
.four-radio:checked ~ .main-window .four-img
{
    margin-left:300vw;
    transition: margin-left 1s;
}